<div id="main-html">
    <div class="exam_index">
        <div class="exam_index_1">レベル1</div>
        <div class="exam_index_1">レベル2</div>
        <div class="exam_index_1">レベル3</div>
        <div class="exam_index_1">レベル4</div>
        <div class="exam_index_1">レベル5</div>
        <div class="exam_index_1">レベル6</div>
        <div class="exam_index_1">レベル7</div>
        <div class="exam_index_1">レベル8</div>
        <div class="exam_index_1">レベル9</div>
        <div class="exam_index_1">ファイナルステージ！！</div>
    </div>
  </div>
</div>

